    {% include 'base.html' %}
    
    {% block content %}
    <style>
        .center{
            display: table;
            margin: auto;
        }
        .image{
            transition: 0.5s;
            border-radius:15px;
            box-shadow: 9px 8px 20px 0px black;
            width: 250px;
            height: 400px;
            border-radius: 20px;
            object-fit: cover;
            margin-top: 70px;
        }
        .image:hover{
            transform: scale(1.1);
            box-shadow: 9px 8px 40px 0px black;
        }
    </style>
    <div class="container center">
        <div class="row">
    {% for i in data %}
    <div class="col-lg-4">
        <a href="{% url 'readmore' i.id %}">
    <img src="{{i.image.url}}" alt="img" class="image center"> </a><br> <br>
    <h1 class="center">{{i.title}} </h1>
    <h5 class="center" style="color: blue;">{{i.created_by}} </h5>
    <!-- <a href="{% url 'delete' i.id %}" class="center">Delete</a> <br> -->
    <h4><a href="{% url 'readmore' i.id %}" class="center" style="color: blueviolet;">Readmore</a></h4>
    
        </div>
    {% endfor %}
    </div>
    </div>

{% endblock %}